body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
    margin-bottom: 30px;
    font-weight: bold;
}


input.btn-primary {
    background-color: #528AAE;
    color: white;
    border-color: #528AAE;
}

input.btn-primary:hover {
    background-color: #39617A;
    color: white;
}


a.btn-primary {
    background-color: #528AAE;
    color: white;
    border-color: #528AAE;
}

    a.btn-primary:hover {
        background-color: #39617A;
        color: white;
    }

a.btn-success {
    background-color: #7b9a6d;
    color: white;
    border-color: #7b9a6d;
}

    a.btn-success:hover {
        background-color: #576E4C;
        color: white;
    }

.borderbox {
    border: solid;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(123, 154, 109, 0.3);
    border-color: rgba(123, 154, 109, 0.3);
}

.underlinetext {
    color: black;
}

.smalltext {
    font-weight: bold;
    color: black;
}