a.btn-blue {
    background-color: #528AAE;
    color: white;
}

    a.btn-blue:hover {
        background-color: #39617A;
        color: white;
    }

a.btn-green {
    background-color: #7b9a6d;
    color: white;
}

    a.btn-green:hover {
        background-color: #576E4C;
        color: white;
    }
