/* Hjemknapp stil */
    .btn {
    background-color: DodgerBlue; 
    border: none;
    color: white;
    padding: 12px 16px;
    margin: 12px;
    font-size: 16px;
    cursor: pointer;
}

/* Mørkere bakgrunn når musen hover over */
.btn:hover {
    background-color: RoyalBlue;
}

.h1 {
    color: DodgerBlue;
}